#map{
	top: 0px;
	right: 0px;
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 0;

}

.main_app {
  height: 100vh;
  /*width: 100vw;*/
  text-align: center;
  position: relative;
}

.map_slider{
	display: inline-block;
	width: 80%;
	height: 10%;
}

.map_slider_text{
	display: inline-block;
	width: 20%;
	height: 10%;
	text-align: center;
	vertical-align: text-top;

}

.control_panel{
	position: absolute;
	top: 65px;
	right: 10px;
	width: 400px;
	bottom: 20px;
	z-index: 99;
	padding: 10px;
	background-color: #20202080
}

.control_title{
	color: #fff;
	position: relative;
	width: 100%;
}

.control_content{
	padding-top: 20px;
	color: white;
	min-height: 100px;
	position: relative;
	text-align: left;
}

.btn-space {
    margin-bottom: 5px;
}